.countryDetails{
   text-align: center;
}

.countryDetails p, .countryDetails strong{
   font-size: 1.15rem;
   margin-bottom: 1rem;
   letter-spacing: 2px;
}

.activitiesCard{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.countryDetails img{
   width: 300px;
}