.containerForm form {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.containerInputs {
   width: 47%;
}

.activityName {
   width: 100%;
   margin-bottom: 1.5rem;
}

.activityName input {
   width: 100%;
}

.containerForm label {
   font-size: 1.2rem;
   font-weight: bold;
}

.duration,
.selectDifficulty,
.selectCountries {
   width: 100%;
}

.selectSeason {
   width: 47%;
}

.countriesSelected {
   width: 47%;
   order: 1;
}

.btnSubmit {
   font-size: 1rem;
   padding: 0.5rem 1rem;
   margin-top: 1rem;
   border-radius: 5px;
   cursor: pointer;
   outline: none;
}
